<!DOCTYPE html>
    {% load static %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print"/>

<script>
    $(function() {

        // $('#save_event_bt').click(function() {
        //     $('#calendar').fullCalendar('addEventSource', [{title: text, start: date, allDay: true }]);
//
//
//             var text_input = document.getElementById('data').value;
//             document.getElementById('display').innerHTML = text_input;
// });
//             document.getElementById('btn').addEventListener('click', clicked);
//             item.save()


        // get the values from the input fields
        // add the event to the calendar
        // do an ajax for save btn to save to database


        $('#calendar').fullCalendar({
                header: {
                    left: "month, agendaWeek, agendaDay",
                    center: "title",
                    right: "today, prevYear, prev, next, nextYear"
                },
                editable: true,
                droppable: true,

                footer: {
                    object: false
                },
                buttonText: {
                    prevYear: new moment().year() - 1,
                    nextYear: new moment().year() + 1
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    console.log(date);
                    // let text = prompt("Enter Event Name");
                    // let text = 'a';
                    $('#modalButton').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#eventUrl').attr('href', event.url);
                    $('#calendarModal').modal();



                },

                viewRender: function (view) {
                    var y = moment($('#calendar').fullCalendar('getDate')).year();
                    $(".fc-prevYear-button").text(y - 1);
                    $(".fc-nextYear-button").text(y + 1);
                },
                saveChanges: function () {
                    var event_text;
                    $('#save').click(function () {
                        event_text = $("#event_text").value();
                        $('#calendar').modal('hide');
                        $('#calendar').fullCalendar('addEventSource', [{
                        title: $('#event_text').val(),
                        start: date,
                        allDay: true
                    }]);
                    });
                },

                minTime: "05:00:00",
                maxTime: "22:00:00",
            height: 830,
            width: 730,
        });

        });
    $("#save_event_bt").click(function() {
        $('#calendar').saveChanges();
        console.log('a');
        });


        // .fullCalendar( ‘removeEvents’ [, idOrFilter ] ) <--to remove events and filter will only remove the one event, not all day

          // eventColor: '#378006'
         //  eventTextColor:
        //eventBackgroundColor:

    // var input = document.getElementById("userName");

</script>

<style>
</style>
</head>

<title>Shifti</title>


<!--<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">-->

<link rel="stylesheet" type="text/css" href="{% static '/bstheme.css' %}">
<body>
<div id="calendar"></div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add To Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Enter Name" id="event_text"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="save_event_bt" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>




